<div class="welcome-container">
  <h2> Welcome to my Angular journey! </h2>
  <p>Here's a glimpse of what I've learned: </p>
  <p>🔹 my notes - 
    <a href="https://docs.google.com/document/d/1o57zrKfOydVhcZ46Y7q7BX8lXpqE6VNja5ZpAjTtsSk/edit?tab=t.q0t6mr73337c#heading=h.iz7z5zhuit03" target="_blank" class="notes-link">Angular-learning</a>
    </p>
  <p>I have built a basic CRUD application. Let's have a look:</p>
  <button (click)="navigateToPosts()" class="btn btn-primary">Get Started</button>
</div>